body{
    width: 200px;
    height: 70px;
    font-family:Arial, sans-serif;
    text-align: center;
}
#blockad-toggle-btn{
    background: rgb(34, 144, 12);
    width: 80px;
    height: 30px;
    border-radius: 10px ;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.3s;
}
#blockad-toggle-btn:hover{
    color: white;
}